asgiref==3.2.3
Django==3.0.14
djangorestframework==3.11.0
django-heroku==0.3.1
environs==7.2.0
marshmallow==3.5.0
psycopg2==2.8.4
python-dotenv==0.11.0
pytz==2019.3
sqlparse==0.3.0
whitenoise==5.0.1
gunicorn==20.0.4